<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <table>
        <tr>
            <td>Title</td>
            <td>Price</td>
            <td>Brand</td>
            <td>Thumbnail</td>
            <td>Description</td>
            <td>Update</td>
            <td>Delete</td>
        </tr>
         <% obj.forEach(function({title,price,description,thumbnail,brand,_id}) { %>
        <tr>
            <td><%= title %></td>
            <td><%= price %></td>
            <td><%= brand %></td>
            <td><%= thumbnail %></td>
            <td><%= description %></td>
            <td><a class="update" href="update/<%= _id %>">Update</a></td>
            <td><a class="delete" href="delete/<%= _id %>">Delete</a></td>
        </tr>
    <% }); %>
    </table>
    <div class="form">
        <h1>Form</h1>
        <input type="text" name="title" placeholder="title"><br><br>
        <input type="text"  name="description" placeholder="description"><br><br>
        <input type="text"  name="thumbnail" placeholder="thumbnail"><br><br>
        <input type="text" name="brand" id=""><br><br>
        <input type="number" name="price" id=""><br><br>

        <button type="submit" onclick="send()"  >Submit</button>
    </div>
    <script  src="script.js"></script>
</body>
</html>
